In [1]:
import os
import sys
import pandas as pd
from lib.display import Display
from lib.database import Database
from lib.schema import Schema

db = Database(Schema.ACCEPT)   
Display.header('Accept study on ALP', 'h1')

Display.header('Participants', 'h3')
participants_df = db.get_participants()
Display.frame(participants_df, 5)
Display.header('Responses', 'h3')
responses_df = db.get_responses()
Display.frame(responses_df, 5)

print('Number of users:', participants_df.shape[0])
print('Number of responses:', responses_df.shape[0])
print(f'Last donation on: {responses_df["AUTHORED"].max().strftime("%d.%m.%Y")}')

Number of users: 6
Number of responses: 562
Last donation on: 15.04.2022

In [2]:
from lib.studies.accept_study import AcceptStudy 
from lib.participant_builder import ParticipantsBuilder
from datetime import datetime, timedelta
import pandas as pd
df = ParticipantsBuilder(AcceptStudy(), participants_df, responses_df) \
    .add_last_donation() \
    .add_all_submissions() \
    .add_answer('Q1','when_is_operation', 'OPERATION_DATE') \
    .add_answer('Q1','what_birth_year', 'BIRTHDATE') \
    .get()

Display.frame(df)

df['OPERATION_DATE'] = pd.to_datetime(df['OPERATION_DATE'])
df['AGE'] = ((datetime.today() - pd.to_datetime(df['BIRTHDATE'])).dt.days / 365).astype(int)
df['DAYS_PASSED'] = (datetime.today() - pd.to_datetime(df['OPERATION_DATE'])).dt.days
df = df.sort_values(by=['START_DATE'], ascending=False)

Display.header('Show all users', 'h2')
Display.frame(df)

df = responses_df[responses_df['LINK_ID'] == 'when_is_operation']
df = df.groupby(['ALP_ID']).size().reset_index(name='counts')
print(f'Users reported operation date more than once: {df[df["counts"] > 1].shape[0]}')

Users reported operation date more than once: 0

In [3]:
import pandas as pd

df = pd.merge(responses_df, participants_df[['ALP_ID', 'EXTERNAL_ID']], how='left', on='ALP_ID')
df = df.groupby(['ALP_ID', 'EXTERNAL_ID','AUTHORED','QUESTIONNAIRE', 'QUESTIONNAIRE_ID']).count()
Display.frame(df)