In [1]:
import os
import sys
import pandas as pd

from lib.display import Display
from lib.disk import Disk

disk = Disk('others')   
Display.header('Tokens tables by user', 'h1')

Display.header('ALP', 'h2')
participants_df = disk.read_by_label('alp-tokens-2022-02-21', ',')

Display.frame(participants_df, 5)
print(f'Number of enrolled users: {participants_df.shape[0]}\n')

count = participants_df[participants_df['Status'] == 'In use'].shape[0]
print(f'Number of participants with status "in use"\t\t: {count}')
count = participants_df[participants_df['Status'] == 'Data donated'].shape[0]
print(f'Number of participants with status "data donated"\t: {count}')

Number of enrolled users: 1000043

Number of participants with status "in use"		: 32
Number of participants with status "data donated"	: 256

In [4]:
real_df = participants_df[participants_df['External ID'].str.startswith('RKI-panel')]
real_df = real_df[~real_df['External ID'].str.startswith('RKI-panel-cs-test')]

Display.frame(real_df, 5)
print(f'Number of enrolled users: {real_df.shape[0]}\n')
count = real_df[real_df['Status'] == 'In use'].shape[0]
print(f'Number of participants with status "in use"\t\t: {count}')
count = real_df[real_df['Status'] == 'Data donated'].shape[0]
print(f'Number of participants with status "data donated"\t: {count}')

Number of enrolled users: 1000000

Number of participants with status "in use"		: 15
Number of participants with status "data donated"	: 252

In [5]:
test_df = participants_df[(~participants_df['External ID'].str.startswith('RKI-panel')) | (real_df['External ID'].str.startswith('RKI-panel-cs-test'))]

print(f'Number of enrolled users: {test_df.shape[0]}\n')
count = test_df[test_df['Status'] == 'In use'].shape[0]
print(f'Number of participants with status "in use"\t\t: {count}')
count = test_df[test_df['Status'] == 'Data donated'].shape[0]
print(f'Number of participants with status "data donated"\t: {count}')

Display.frame(test_df[test_df['Status'] == 'Data donated'], 5)

Number of enrolled users: 41

Number of participants with status "in use"		: 15
Number of participants with status "data donated"	: 4

In [6]:
Display.header('Aggregated token tables by user', 'h1')

Display.header('ALP', 'h2')
WITH_DONATION = 'Data donated'
df = participants_df[participants_df['Status'] == WITH_DONATION].copy()
df['donation date'] = pd.to_datetime(df['Last donation date'], format='%d.%m.%Y (%a)')
df = df.groupby(['donation date']).size().reset_index(name='Users').rename(columns={'donation date':'Date'})
df = df.reset_index()[['Date', 'Users']]
alp_df = df.sort_values(by=['Date'])
Display.frame(alp_df,5)

count = alp_df['Users'].sum()
print(f'Number of enrolled users with data: {count}')
count = participants_df[participants_df['Status'] == 'In use'].shape[0]
print(f'Number of enrolled users without data: {count}')
print('Note: Users without data do not have a donation or enrollment date')

Number of enrolled users with data: 256
Number of enrolled users without data: 32
Note: Users without data do not have a donation or enrollment date

In [7]:
codes = ['1NR3VTS6', '6EXNTTRI', '9GKOHXAS', 'BVOQMVJT', 
         'DJO1QREN', 'DYCJ4KNZ', 'ESG6LFOI', 'FEOV09WV', 
         'JLVCBSX1', 'M3SRWIXZ', 'NWAVBAAW', 'R1PDEVXU', 
         'SDW6WZN0', 'ZUZ1APSZ', 'ZVO3ZGTH']

df = participants_df[participants_df['Participation code'].isin(codes)]
print(f'How many codes were generated from the list? {len(df)}')

df = df[df['Status'] != 'Generated']
print(f'How many codes were used from the list? {len(df)}')
Display.frame(df, 10)

How many codes were generated from the list? 15
How many codes were used from the list? 1