In [3]:
import os
import sys
from datetime import datetime, timedelta
import math 
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt, ticker

from lib.display import Display
from lib.database import Database
from lib.schema import Schema

from lib.participant_builder import ParticipantsBuilder
from lib.studies.symptom_tracker import SymptomTracker

study = SymptomTracker()

In [32]:
db = Database(Schema.SYMPTOM_TRACKER)   
Display.header('User research on ALP', 'h1')

Display.header('Participants', 'h3')
participants_df = db.get_participants()
print(f'Number of participants: {len(participants_df)}')
Display.frame(participants_df, 5)

Display.header('Responses', 'h3')
responses_df = db.get_responses()
Display.frame(responses_df.drop(columns=['QUESTIONNAIRE_ID']), 5)

Number of participants: 33

In [6]:
builder = ParticipantsBuilder(study, participants_df, responses_df)
df = builder.filter_data4life_users() \
    .add_last_donation() \
    .add_all_submissions() \
    .get()

result = responses_df.groupby('ALP_ID').agg({'AUTHORED': ['min', 'max']}).reset_index()
result.columns = ['ALP_ID', 'first_donation', 'last_donation']
df = pd.merge(df, result, how='left', on=['ALP_ID']).drop(columns=['EXTERNAL_ID']).sort_values(by=['all'], ascending=False)

Display.frame(df, 5)

In [31]:
df = responses_df.groupby('QUESTIONNAIRE')[['QUESTIONNAIRE_ID', 'ALP_ID']].nunique().reset_index()
df.columns = ['QUESTIONNAIRE', 'COUNT_SUBMISSIONS', 'COUNT_USERS']
Display.frame(df)